<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BetaReleases" value="True" />
    <add key="CheckUpdateFrequency" value="Monthly" />
    <add key="LastCheckUpdate" value="" />
    <add key="UpdateAvailable" value="False" />
    <add key="AvailableVersion" value="0.0.0.0" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>